@import url(//db.onlinewebfonts.com/c/304efff9f3963a0ded6c244c0c9a941e?family=Sweet+Sans+Pro);

:root {
    font-size: 17px;
    font-family: "Sweet Sans Pro", sans-serif;
    color: #000000;
    --link-color: #000000;
    --name-and-surname-text-color: #000000;;
    --data-icon-color: #000000;
    --competencies-icon-color: #000000;
    --hobby-icon-color: #000000;
    --main-header_background: #d4d4d4;
    --main-background: #959595;
    --main-theme-color: #585650;
}