@import url(//db.onlinewebfonts.com/c/304efff9f3963a0ded6c244c0c9a941e?family=Sweet+Sans+Pro);

:root {
    font-size: 15px;
    font-family: "Sweet Sans Pro", sans-serif;
    color: white;
    --link-color: white;
    --name-and-surname-text-color: #363434;;
    --data-icon-color: white;
    --competencies-icon-color: darkorange;
    --hobby-icon-color: darkorange;
    --main-header_background: #6a6868;
    --main-background: #363434;
    --main-theme-color: darkorange;
}